:root {
  --main-color-green: #97bf0f;
  --main-color-gray: #f1f1f1;
  --main-color-black: #070707;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #fff;
  color: var(--main-color-black);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
}

.doctors {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  align-items: center;
}

.doctor {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .components {
    position: relative;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    height: 100%;
    border: 1px solid red;
  }
}
