.reservation-list-container {
  max-width: 100%;
  margin: 0 auto;
}

.reservation-list {
  list-style: none;
  padding: 0;
}

.reservation-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  margin: 10px 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.doctor-name {
  font-weight: bold;
}

.reservation-date {
  font-style: italic;
}

.location {
  color: #555;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c9302c;
}

.no-reservation {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
